{% extends "base.twig" %}

{% block content %}
    <article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <img class="img-fluid" src="{{ post.thumbnail.src | resize(1200, 300) }}">
                </div>
            </div>
        </div>
        <section class="article-content">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h1 class="article-h1">{{ post.title }}</h1>
                    </div>
                </div>
            </div>
            <div class="article-body">
                {{ post.content }}
            </div>
            <div class="team-member__details">
                <ul>
                    <li>Title: {{ post.meta('title') }}</li>
                    <li>Phone: {{ post.meta('phone') | a_phone }}</li>
                    <li>Email: {{ post.meta('email') | a_email }}</li>
                </ul>
            </div>
        </section>

        <!-- comment box -->
        <section class="comment-box">
            {% if post.comment_status != "closed" %}
                <!-- comments -->
                <div class="comments">
                {% if post.comments %}
                    <h3> comments </h3>
                    {% for cmt in post.comments %}
                        {% include "comment.twig" with {comment:cmt} %}
                    {% endfor %}
                    </div>

                    <!-- comment form -->
                    {% include "comment-form.twig" %}
                {% endif %}
            {% endif %}
        </section>
    </article>
{% endblock %}
