{% extends "tease.twig" %}

{% block content %}
    <article class="col-sm-4 tease tease-{{ post.post_type }}" id="tease-{{ post.ID }}">
        <div class="member__thumbnail">
            {% if post.thumbnail.src %}
                <div class="team-member__photo"
                     style="background-image: url({{ post.thumbnail.src | resize(150, 200) }}); background-size: {{ options.team_member.photo_size }}">
                </div>
            {% else %}
                <div class="team-member__photo"
                     style="background-image: url({{ options.team_member.placeholder_image.url | resize(150, 200) }}); background-size: {{ options.team_member.photo_size }}">
                </div>
            {% endif %}
        </div>
        <h2 class="h2"><a href="{{ post.link }}">{{ post.title }}</a></h2>
        <p>{{ post.preview.length(25) }}</p>
    </article>
{% endblock %}
