{% set image = post.thumbnail.src ?: (options[post.post_type] is defined and options[post.post_type].placeholder_image is not empty ?  options[post.post_type].placeholder_image.url : false) %}
{% set size = options[post.post_type].photo_size ?? 'contain' %}
{% block content %}
    <article class="col-sm-4 tease tease-{{ post.post_type }}" id="tease-{{ post.ID }}">
        <div class="tease__thumbnail {{ post.post_type }}__thumbnail">
            {% if image %}
                {% if true %}
                    <div class="tease__photo-blur {{ post.post_type }}__photo-blur"
                         style="background-image: url({{ image | resize(150, 200) }});">
                    </div>
                {% endif %}
                <div class="tease__photo {{ post.post_type }}__photo"
                     style="background-image: url({{ image | resize(150, 200) }}); background-size: {{ size }}">
                </div>
            {% endif %}
        </div>
        <h2 class="h2"><a href="{{ post.link }}">{{ post.title }}</a></h2>
        <p>{{ post.preview.length(25) }}</p>
    </article>
{% endblock %}
